@media (min-width:769px) and (max-width:1024px) {
    .primary-menu{
        display: none;
    }
    .header-menu{
        display: block;
    }
    .main-header{
        width: 100%;
    }
    .header{
        padding:  0 30px;
    }
    .container{
        width: 100%;
        padding: 30px 0;

    }
    .section-title{
        margin-left: 20px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);

    }
    .player{
        flex-direction: column;
    }
    .blogs{
        grid-column-gap: 20px;
        padding: 0 20px;
    }
    .courses{
        padding: 0 20px;
        grid-row-gap: 20px;
    }
   
}
@media (min-width:481px) and (max-width:768px) {
    .main-header{
        width: 100%;
    }
      .container{
        width: 100%;
        padding: 0;
    }
    .header{
        padding:  0 30px;
    }
    .primary-menu{
        display: block;
    }
    .primary-menu .mobile-menu-check:checked ~ ul{
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
    .header-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    
    .header-menu{
        display: none;
    }
    .section-title{
        margin-left: 20px;
    }
  
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);

    }
    .player, .blog{
        flex-direction: column;
    }
    .blogs{
        grid-column-gap: 20px;
        padding: 0 20px;
    }
    .courses{
        padding: 0 20px;
        grid-row-gap: 20px;
    }
   
}
@media (max-width: 480px) {
    .header{
        padding: 0 30px;
    }
    .main-header{
        width: 100%;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .primary-menu{
        display: block;
    }
    .primary-menu .mobile-menu-check:checked ~ ul{
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
    .header-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
  
    .section-title{
        margin-left: 20px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);

    }
    .player, .blog{
        flex-direction: column;
    }
    .course{
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
    }
   
}